/**All the styles for body**/

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/** Main image **/

.main-image {
    /* The image used */
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/7/79/Evening_view_across_Carlton_Hill_towards_the_Castle_%2813164472813%29.jpg);
    /* Used if the image is unavailable */
    background-color: #212529;
    /* You must set a specified height */
    height: 500px;
    /* Center the image */
    background-position: center;
    /* Do not repeat the image */
    background-repeat: no-repeat;
    /* Resize the background image to cover the entire container */
    background-size: cover;
}


/** Table styles  **/

th,
td {
    text-align: left;
}


/** Text **/

.text-align-right {
    text-align: right;
}

.text-align-center {
    text-align: center;
}

.vertical-align-middle {
    vertical-align: middle;
}


/*Sections */

section {
    margin-top: 35px;
    margin-bottom: 35px;
    border-bottom: 1px solid #d9d9d9;
}


/* Remove border */

.no-border {
    border: none;
}


/*Footer*/

footer {
    padding-top: 15px;
    margin-top: 40px;
    background-color: #212529;
    color: white;
}

.brand-column {
    padding-top: 35px;
    padding-left: 35px;
}

.brand {
    color: white;
    text-decoration: none;
}

.articles-column {
    margin: 0;
    padding-right: 35px;
    padding-top: 5px;
}

.footer-links {
    color: white;
    text-decoration: none;
}

.copyright {
    border-top: 1px solid #585858;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 14px;
    color: #c3c3c3;
}

h5 {
    text-align: center;
}


/** Paddings **/

.padding-top-30 {
    padding-top: 30px;
}


/** Custom width */

.width-40 {
    width: 40%;
}